<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="health" href="/tabs/health">
      <ion-icon aria-hidden="true" name="heart-outline"></ion-icon>
      <ion-label>My Health</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="care-team" href="/tabs/care-team">
      <ion-icon aria-hidden="true"  name="heart-circle-outline"></ion-icon>
      <ion-label>My Care Team</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="needs" href="/tabs/needs">
      <ion-icon aria-hidden="true" name="cart-outline"></ion-icon>
      <ion-label>My Needs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more" href="/tabs/more">
      <ion-icon aria-hidden="true" name="grid-outline"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
